*.layout
*.depend
*.pdb
*.exe
*.zip
.cmp
linux-*
windows-*

Makefile
Makefile.in
*.o
*.lo
*.la
.dirstamp
.libs
.deps
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/NEWS
/README
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/csplines/.deps/
/csplines/ap/.deps/
/csplines/ap/.dirstamp
/csplines/ap/ap.o
/csplines/ap/spline3.o
/csplines/spline_path.o
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/stamp-h1
